<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <title>Gracias Por dejarme un mensaje!</title>
</head>
<body>
    <header>
        <div class="container text-center d-flex align-items-center justify-content-center flex-column">
            <h1 class="h1-leyenda text-white mt-5">Gracias por dejarme un mensaje! En breve me estaré comunicando con usted/es!</h1>
            <div class="filter-buttons mt-5">
                <a href="../">
                    <button type="button">Volver al portfolio</button>
                </a>
            </div>
        </div>
        
    </header>
</body>
</html>